node_modules/
**/node_modules/

dist/
**/dist/

.env
**/.env   

logs/
*.log

.DS_Store
Thumbs.db

*.tsbuildinfo

coverage/

.vscode/

services/author/authorNotes.md
services/user/notes/auth.md
services/blog/blog.md

frontend/README.md
